<button data-state="happy" class="btn btn-info">
    I feel...<em>Happy!</em>
</button>

<button data-state="bored" class="btn btn-info">
    I feel... <em>Bored</em>
</button>

<button data-state="sad" class="btn btn-info">
    I feel... <em>Sad :(</em>
</button>