<style>
  .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
</style>

{{!-- <button data-state="happy" class="btn btn-info">
  I feel...<em>Happy!</em>
</button>

<button data-state="bored" class="btn btn-info">
  I feel... <em>Bored</em>
</button>

<button data-state="sad" class="btn btn-info">
  I feel... <em>Sad :(</em>
</button> --}}

<div class="text-secondary">
  <div class="swiper-container" style="height:500px;">
    <div class="swiper-wrapper">
      <div class="swiper-slide bg-warning text-dark" id="happy" data-state="happy"><h3>Happy :)</h3></div>
      <div class="swiper-slide bg-secondary text-light" id="bored" data-state="bored"><h3>Bored :/</h3></div>
      <div class="swiper-slide bg-dark text-light" id="sad" data-state="sad"><h3>Sad :(</h3></div>
      <div class="swiper-slide" id="stressed" data-state="stressed"><h3>Stressed!</h3></div>
      <div class="swiper-slide" id="nostalgic" data-state="nostalgic"><h3>Nostalgic</h3></div>
      <div class="swiper-slide" id="poopy" data-state="poopy"><h3>Poopy</h3></div>
      <div class="swiper-slide" id="euphoric" data-state="euphoric"><h3>Euphoric</h3></div>

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>
</div>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper-container', {
      slidesPerView: 3,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  swiper();
</script>