<div class="col">
    <ul class="list-group">
        <li class="list-group-item">I want to to be... Entertained!</li>
        <li class="list-group-item">I'd like to feel... Inspired!</li>
        <li class="list-group-item">It'd be nice to be... Cheered Up!</li>
    </ul>
</div>