<!-- Navigation -->
<nav class="fixed-top mb-3 navbar navbar-expand-lg navbar-dark bg-dark static-top border-bottom">
    <div class="container">
        <div class="text-center text-light">
            <p>
                <h1>Mind(Re)Set</h1>
            </p>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history">Your History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/other-resources">Other Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/google">Sign In</a>
                </li>
                
            </ul>
        </div>
    </div>  
</nav>