<div class="col">
    <ul class="list-group">
        <li class="list-group-item">Funny videos!</li>
        <li class="list-group-item">Insert Chuck Norris Jokes HERE</li>
        <li class="list-group-item">Inspirational Quote: "Live Long & Perspire"</li>
    </ul>
</div>