<!doctype html>
<html lang="en" style="height:100%;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mind(re)Set</title>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="../../public/js/index.js"></script>
  <link rel="stylesheet" href="../../node_modules/swiper/dist/css/swiper.min.css">
  <link rel="stylesheet" href="../../public/styles/styles.css" type="text/css" media="screen" charset="utf-8">
</head>
<body class="gradient" style="height:100; background: #0E2745;
  background-image: radial-gradient(ellipse 50% 90% at 50% 20% , #41556C 0%, #0E2745 100%);">
  {{> header }}

  {{{ body }}}

  {{> footer }}

</body>
</html>
