<!doctype html>
<html lang="en" style="height:100%;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mind(re)Set</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <script type="text/javascript" src="/js/index_home.js"></script>
    <script type="text/javascript" src="/js/results.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" media="screen" charset="utf-8">
</head>
{{> header }}

<body class="gradient">

  {{{ body }}}

</body>
{{> footer }}

</html>