<div class="text-center text-light">
    <p>
        <h1>About</h1>
    </p>
</div>

<div class="row">
    <div class="col-1"></div>

    <div class="col-10 text-dark text-center border bg-light m-2 p-2">
        <h2>Dumbledore's Army</h2>
        <p><strong>DDA</strong> is a group of budding full-stack developers based in the greater Phoenix, AZ area.</p>
    </div>
    <div class="col-1"></div>

</div>
<div class="row align-content-center">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="https://static.tvtropes.org/pmwiki/pub/images/remus_lupin.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Sir Jon the Wise</h5>
                    <p class="card-text">Backend, frontend, <em>you name it!</em><p>Git Master.</p><p>He'll have no problem GITting a job n' GITting PAID (his favorite git-related pun).</p>
                </div>
                <div class="card-footer text-center">
                    <a href="https://github.com/reiko321" class="text-muted text-center">GitHub Link</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://cdn.playbuzz.com/cdn/4e545d18-a8dd-4014-909e-ee517baab420/68ce871d-87db-4a10-bca8-dfe3e019c612.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Young Andrew</h5>
                    <p class="card-text">Code Master.</p><p>Prodigy.</p><p>Router of APIs.</p><p>Baser... of... Data?</p><p>Likes the Blues,
                        but not yet old enough to buy Brews!</p>
                </div>
                <div class="card-footer text-center">
                    <a href="https://github.com/AndrewHanson1" class="text-muted text-center">GitHub Link</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://www.filmibeat.com/img/2017/03/rupert-grint-says-he-is-emotionally-attached-with-his-harry-potter-character-ron-weasley-22-1490163773.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">He's Kellin' It!</h5>
                    <p class="card-text">Frontend and the gatherer/procurer of <em>much</em> content.</p><p>Classically-trained guitarist,
                        modernly-trained codist.</p>
                </div>
                <div class="card-footer text-center">
                    <sa href="https://github.com/reiko321/project-2" class="text-muted text-center">GitHub Link</sa>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://i.pinimg.com/originals/b2/c6/ee/b2c6ee932efa4cb714769e2c7779f70f.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Chess-Maester</h5>
                    <p class="card-text">Frontend, Design.</p><p>Kanban Enthusiast.</p><p>Task Master (aka <strong>The Most Annoying</strong>).</p>
                </div>
                <div class="card-footer text-center">
                    <a href="https://github.com/Ches-CC" class="text-muted text-center">GitHub Link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>

</div>