<div class="text-center text-light align-content-center">
    <p>
        <h1>Your <strong>Mind(Re)Set</strong> History
        </h1>
    </p>
</div>


<div class="row">
    <div class="col-4"></div>

    <!--Div to display the History info from the db's History table-->
    <div class="col-4" id="history-div">

        <!--Original Card Template-->
        <div class="card mb-3" id="history-card-one">
            <img class="card-img"
                src="https://images.pexels.com/photos/320007/pexels-photo-320007.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=400&w=840"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-muted">May 29, 2019 8:30PM</p>
                <h5 class="card-title text-center">You started off <strong>Bored</strong>,</h5>
                <h5 class="text-center">& chose to be <strong>Motivated</strong></h5>
            </div>
            <div class="card-footer text-muted text-center align-content-center">
                <p class="card-text text-center">Was your mind successfully (re)set?</p>
                <button type="button" class="btn btn-info">Hmm, not that time...</button>
                <button type="button" class="btn btn-info">It sure was!</button>

                <div>
                    <button type="button" id="delete-history-one" class="btn btn-danger mt-1">Click Here to Delete
                        Entry</button>
                </div>
            </div>
        </div>
        <div class="card mb-3" id="history-card-two">
            <img class="card-img"
                src="https://images.pexels.com/photos/761963/pexels-photo-761963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=400&w=840&cs=srgb&dl=beautiful-cellphone-cute-761963.jpg&fm=jpg"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-muted">May 27, 2019 4:20PM</p>
                <h5 class="card-title text-center">You started off <strong>Happy</strong>,</h5>
                <h5 class="text-center">& chose to be <strong>Entertained</strong></h5>
            </div>
            <div class="card-footer text-muted text-center">
                <p class="card-text text-center">Was your mind successfully (re)set?</p>
                <button type="button" class="btn btn-info">Hmm, not that time...</button>
                <button type="button" class="btn btn-info">It sure was!</button>

                <div>
                    <button type="button" id="delete-history-two" class="btn btn-danger mt-1">Click Here to Delete
                        Entry</button>
                </div>
            </div>
        </div>
        <div class="card mb-3" id="history-card-three">
            <img class="card-img"
                src="https://images.pexels.com/photos/2253065/pexels-photo-2253065.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=400&w=840"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-muted">May 27, 2019 4:20PM</p>
                <h5 class="card-title text-center">You started off <strong>Sad</strong>,</h5>
                <h5 class="text-center">& chose to be <strong>Cheered Up</strong></h5>
            </div>
            <div class="card-footer text-muted text-center">
                <p class="card-text text-center">Was your mind successfully (re)set?</p>
                <button type="button" class="btn btn-info">Hmm, not that time...</button>
                <button type="button" class="btn btn-info">It sure was!</button>

                <div>
                    <button type="button" id="delete-history-three" class="btn btn-danger mt-1">Click Here to Delete
                        Entry</button>
                </div>
            </div>
        </div>
        <div class="card mb-3" id="history-card-four">
            <img class="card-img"
                src="https://images.pexels.com/photos/1906157/pexels-photo-1906157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=400&w=840"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-muted">May 27, 2019 4:20PM</p>
                <h5 class="card-title text-center">You started off <strong>Stressed</strong>,</h5>
                <h5 class="text-center">& chose to be <strong>Relaxed</strong></h5>
            </div>
            <div class="card-footer text-muted text-center">
                <p class="card-text text-center">Was your mind successfully (re)set?</p>
                <button type="button" class="btn btn-info">Hmm, not that time...</button>
                <button type="button" class="btn btn-info">It sure was!</button>

                <div>
                    <button type="button" id="delete-history-four" class="btn btn-danger mt-1">Click Here to Delete
                        Entry</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
