<div id="home">
  <div class="container">
    <div class="jumbotron">
      <p><h1>Mind(Re)set</h1></p>
      <p><h2>This is the earliest version of our page!</h2></p>

    </div>

    <div class="row m-1">
      <p>
        <h3>How are you feeling now?</h3>
      </p>
      <div class="border">
        {{> current-block }}
      </div>
      
    </div>
    <br>
    <div class="row m-1">
      <p>
        <h3>How would you <i>like</i> to feel?</h3>
      </p>
      {{> desired-block }}
    </div>
    <br>
    <div class="row m-1">
      <p>
        <h4>Here are your (re)sults!</h4>
      </p>
      {{> results-block }}
    </div>

  </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="../public/js/index.js"></script>
<script src="../scripts/js/swiper.min.js"></script>

<script>
  $(document).ready(function () {
    //initialize swiper when document ready
    var mySwiper = new Swiper ('.swiper-container', {
      // Optional parameters
      slidesPerView: 3,
      spaceBetween: 30,
      slidesPerGroup: 3,
      direction: 'vertical',
      loop: true,
      loopFillGroupWithBlank: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    })
  });
  
  {{!-- var swiper = new Swiper('.swiper-container', {
    slidesPerView: 3,
    spaceBetween: 30,
    slidesPerGroup: 3,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  }); --}}
</script>