<div id="home" class="mt-4">
  <!--Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-light" id="exampleModalLabel">You would like to be...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center p-4">
          <h2 class="modal-text"><span id="modal-span"></span></h2>
        </div>
        <div class="modal-footer bg-light center-content">
          <button type="btn" class="btn btn-warning" data-dismiss="modal">I've Reconsidered</button>
          <a href="/results" type="btn" id="confirm-state" data-current-push="default" data-desired-push="default"
            class="btn btn-success">Yes, Please</a>
        </div>
      </div>
    </div>
  </div>
  <!--End of Modal-->
  <div class="container">
    <div class="text-center text-light" id="intro-sentence">
      <p>
        <h3>Feeling any which way is totally okay!</h3>
      </p>
      <p>
        <h4>However... if you are interested in adjusting your mindset, we just might be able to help!
        </h4>
      </p>

    </div>

    <div class="row m-1 text-light">
      <div class="col text-center" id="current-state-div">
        <p>
          <h2><span id="feeling-now">How are you feeling now?</span></h2>
        </p>
        <div class="border">
          {{> current-block }}
        </div>
      </div>

      <div class="col text-light text-center" id="desired-state-div" style="display: none;">
        <p>
          <h2>How would you <i>like</i> to feel?</h2>
        </p>
        <div class="border">
          {{!-- {{> desired-block }} --}}
        </div>
      </div>
    </div>

 

    <div class="text-center mt-5 text-light" style="display: none;" id="back-btn">
      <a href="/">
        <h2>(re)start</h2>
      </a>
    </div>

  </div>
</div>