<div id="home" class="mt-4">

  <div class="container">
    <div class="text-center text-light" id="intro-sentence">
      <p>
        <h3>Feeling <em>ABC</em> is totally okay! But if you are interested in feeling <em>XYZ</em>, then we can help!
        </h3>
      </p>

    </div>

    <div class="row m-1 text-light">
      <div class="col text-center" id="current-state-div">
        <p>
          <h1>How are you feeling now?</h1>
        </p>
        <div class="border">
          {{> current-block }}
        </div>
      </div>

      <div class="col text-light text-center" id="desired-state-div" style="display: none;">
        <p>
          <h1>How would you <i>like</i> to feel?</h1>
        </p>
        <div class="border">
          {{> desired-block }}
        </div>
      </div>
    </div>

    {{!-- <div>
      <a href="/results">Results</a>
    </div> --}}

  </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script type="text/javascript">

  $(document).ready(function () {
    $("#desired-state-div").hide();
  });

  let desiredStateArray = [
    {
      desiredState: "Entertained",
      origState: "happy",
      desired: false

    },
    {
      desiredState: "Grounded",
      origState: "happy",
      desired: false

    },
    {
      desiredState: "Inspired",
      origState: "bored",
      desired: false

    },
    {
      desiredState: "Amused",
      origState: "bored",
      desired: false

    },
    {
      desiredState: "Cheery",
      origState: "sad",
      desired: false

    },
    {
      desiredState: "Motivated",
      origState: "sad",
      desired: false
    }
  ]

  $(".swiper-slide").on("click", function () {
    $("#intro-sentence").hide();
    $("#desired-state-div").show();
    $("#current-state-div").hide();
    let currentState = $(this).attr("data-state");

    for (let i = 0; i < desiredStateArray.length; i++) {

      if (currentState === desiredStateArray[i].origState) {
        let changedState;
        let str = desiredStateArray[i].desiredState;
        changedState = str.toLowerCase();
        let stateDiv = $("<div>");
        let showDesiredState = $('<a href="/results" id="' + changedState + '" class="btn btn-info btn-block my-3" data-state="' + changedState + '"><h3>' + "I want to feel... " + desiredStateArray[i].desiredState + "!" + "</h3></a>");
        stateDiv.append(showDesiredState);
        $("#desired-state-div").append(stateDiv);
      } else {
        console.log("There tweren't any matching states!")
      }
    }
  });



</script>