<div id="home" class="mt-4">
  <!--Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You wish to...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="modal-text">Feel [insert desired-state]</p>
      </div>
      <div class="modal-footer">
        <button type="btn" class="btn btn-secondary" data-dismiss="modal">Back</button>
        <a href="/results" type="btn" id="confirm" data-current-push="" data-desired-push="" class="btn btn-primary">Confirm</a>
      </div>
    </div>
  </div>
</div>
<!--End of Modal-->
  <div class="container">
    <div class="text-center text-light" id="intro-sentence">
      <p>
        <h4>Feeling <em>ABC</em> is totally okay! But if you are interested in feeling <em>XYZ</em>, then we can help!
        </h4>
      </p>

    </div>

    <div class="row m-1 text-light">
      <div class="col text-center" id="current-state-div">
        <p>
          <h2>How are you feeling now?</h2>
        </p>
        <div class="border">
          {{> current-block }}
        </div>
      </div>

      <div class="col text-light text-center" id="desired-state-div" style="display: none;">
        <p>
          <h2>How would you <i>like</i> to feel?</h2>
        </p>
        <div class="border">
          {{> desired-block }}
        </div>
      </div>
    </div>

    <div id="confirmation-div" style="display: none;">
      <a href="/results" class="btn" id="confirmation">YES!</a>
    </div>

    <div class="text-center mt-5" style="display: none;" id="back-btn">
        <a href="/"><h3>(re)start</h3></a>
  </div>

  </div>
</div>  
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>




<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script type="text/javascript">

  $(document).ready(function () {
    $("#desired-state-div").hide();
  });

  let desiredStateArray = [
    {
      desiredState: "Entertained",
      origState: "happy",
      desired: false

    },
    {
      desiredState: "Grounded",
      origState: "happy",
      desired: false

    },
    {
      desiredState: "Inspired",
      origState: "bored",
      desired: false

    },
    {
      desiredState: "Amused",
      origState: "bored",
      desired: false

    },
    {
      desiredState: "Cheery",
      origState: "sad",
      desired: false

    },
    {
      desiredState: "Motivated",
      origState: "sad",
      desired: false
    }
  ]

  $(".swiper-slide").on("click", function () {
    $("#intro-sentence").hide();
    $("#desired-state-div").show();
    $("#back-btn").show();
    $("#current-state-div").hide();
    let currentState = $(this).attr("data-state");

    for (let i = 0; i < desiredStateArray.length; i++) {

      if (currentState === desiredStateArray[i].origState) {
        let changedState;
        let str = desiredStateArray[i].desiredState;
        changedState = str.toLowerCase();
        let stateDiv = $("<div>");
        let showDesiredState = $('<button id="' + changedState
         + '" class="btn btn-info btn-block my-3" data-toggle="modal" data-target="#exampleModal" data-shown="div-show" data-state="' + changedState
          + '"><h3>' + "I want to feel... " + desiredStateArray[i].desiredState
          + "!" + "</h3></button>");
        stateDiv.append(showDesiredState);
        $("#desired-state-div").append(stateDiv);
      } 
    }
  });

  {{!-- $(".blarg").on("click", function(){
    $("#desired-state-div").hide();
    $("#confirmation-div").show();
    $("#confirmation-div").append("So, you're feeling " + currentState + ", and you'd rather feel " + desiredState + "?");
  }); --}}

 $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
  })


</script>