<div class="text-center text-light">
    <p>
        <h1>Mental health is <strong>CRUCIAL!</strong></h1></p><p><h1>... please check out these (potentially) helpful links!</h1></p>
        <p><h3>Courtesy of the <a href="http://www.nami.org" target="_blank">National Alliance on Mental Illness</a>.</h3>
    </p>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="border">
            <article class="content p-4 bg-light">

                <h2>
                    Top HelpLine Resources</h2>


                <h2>Finding Treatment</h2>

                <p><a href="https://www.psychologytoday.com/" target="_blank">Psychology Today</a> offers a national
                    directory of therapists, psychiatrists, therapy groups and treatment facility options.</p>

                <p><a href="http://www.findtreatment.samhsa.gov/" target="_blank">SAMHSA Treatment Locator</a> provides
                    referrals to low cost/sliding scale mental health care, substance abuse and dual diagnosis
                    treatment. Phone: 800-662-4357</p>

                <p>Learn more about <a href="/Learn-More/Treatment" target="_blank">treatment and services</a>.</p>

                <h2>Suicide and Crisis</h2>

                <p><a href="http://www.afsp.org/" target="_blank">The American Foundation for Suicide Prevention</a>
                    provides referrals to support groups, mental health professionals, resources on loss and suicide
                    prevention information. Phone: 888-333-2377</p>

                <p><a href="http://www.thehotline.org/" target="_blank">The National Domestic Violence Hotline</a>
                    provides 24/7 crisis intervention, safety planning and information on domestic violence. Phone:
                    800-799-7233</p>

                <p><a href="http://www.suicidepreventionlifeline.org" target="_blank">The Suicide Prevention
                        Lifeline</a> connects callers to trained crisis counselors 24/7. They also provide a chat
                    function on their website. Phone: 800-273-8255</p>

                <p>Learn more about <a href="/Learn-More/Mental-Health-Conditions/Related-Conditions/Risk-of-Suicide"
                        target="_blank">suicide</a> and <a
                        href="/Find-Support/Living-with-a-Mental-Health-Condition/What-to-Do-In-a-Crisis"
                        target="_blank">what to do in a crisis</a>.</p>

                <h2>Mental Health Conditions</h2>

                <p><a href="http://www.adaa.org/" target="_blank">Anxiety and Depression Association of America
                        (ADAA)</a> provides information on prevention, treatment and symptoms of anxiety, depression and
                    related conditions. Phone:
                    240-485-1001&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                <p><a href="http://www.chadd.org/" target="_blank">Children and Adults with
                        Attention-Deficit/Hyperactivity Disorder (CHADD)</a> provides information and referrals on ADHD,
                    including local support groups. Phone: 800-233-4050</p>

                <p><a href="http://www.dbsalliance.org/site/PageServer?pagename=home" target="_blank">Depression and
                        Bipolar Support Alliance (DBSA)</a> provides information on bipolar disorder and depression,
                    offers in-person and online support groups and forums. Phone: 800-826-3632</p>

                <p><a href="https://iocdf.org/" target="_blank">International OCD Foundation</a> provides information on
                    OCD and treatment referrals. Phone: 617-973-5801<br>
                    <br>
                    <a href="https://www.nceedus.org/">National Center of Excellence for Eating
                        Disorders&nbsp;(NCEED)</a>&nbsp;provides&nbsp;up-to-date, reliable&nbsp;and evidence-based
                    information about eating disorders. Phone:&nbsp;800-931-2237</p>

                <p><a href="http://www.sardaa.org/" target="_blank">Schizophrenia and Related Disorders Alliance of
                        America (SARDAA)</a> maintains the Schizophrenia Anonymous programs, which are self-help groups
                    and are now available as toll free teleconferences. Phone: 240-423-9432</p>

                <p><a href="http://www.sidran.org" target="_blank">Sidran Institute</a> helps people understand, manage
                    and treat trauma and dissociation; maintains a helpline for information and referrals. Phone:
                    410-825-8888</p>

                <p><a href="http://www.tara4bpd.org/" target="_blank">TARA (Treatment and Research Advancements for
                        Borderline Personality Disorder)</a> offers a referral center for information, support,
                    education and treatment options for BPD. Phone:
                    888-482-7227&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                <p>Learn more about <a href="/default.aspx" target="_blank">mental health conditions.</a></p>

                <h2>Research &amp; Statistics</h2>

                <p><a href="http://www.nimh.nih.gov/health/statistics/index.shtml" target="_blank">National Institute of
                        Mental Health (NIMH)</a> provides information on statistics, clinical trials and research. NAMI
                    references NIMH statistics for our website and publications. Phone: 866-615-6464</p>

                <p>Learn more about <a href="/Learn-More/Mental-Health-By-the-Numbers" target="_blank">mental health
                        statistics.</a></p>

                <h2>Financial Assistance</h2>

                <p><a href="http://www.allsup.com" target="_blank">Allsup</a> provides non-attorney representation when
                    applying for SSDI. Phone: 800-279-4357</p>

                <p><a href="https://www.healthcare.gov/" target="_blank">HealthCare.gov</a> provides specific
                    information about coverage options in your state, includes private options, high risk pools and
                    other public programs. Phone: 800-318-2596</p>

                <p><a href="http://needhelppayingbills.com/" target="_blank">Needhelppayingbills.com</a> provides
                    information on state and local assistance programs, charity organizations and resources that provide
                    help paying bills, mortgage assistance, debt relief and more.</p>

                <p><a href="http://www.needymeds.org/" target="_blank">NeedyMeds</a> provides information on available
                    patient assistance programs. Phone: 800-503-6897</p>

                <p><a href="https://www.pparx.org/" target="_blank">Partnership for Prescription Assistance</a> helps
                    qualifying individuals &nbsp;without prescription drug coverage get the medications they need.</p>

                <p>Learn more about <a
                        href="/Find-Support/Living-with-a-Mental-Health-Condition/Understanding-Health-Insurance"
                        target="_blank">health insurance</a> and <a
                        href="/Find-Support/Living-with-a-Mental-Health-Condition/Getting-Help-Paying-for-Medications"
                        target="_blank">prescription assistance.</a></p>

                <h2>Advocacy and Legal</h2>

                <p><a href="http://www.lsc.gov/" target="_blank">Legal Services Corporation</a> provides civil legal aid
                    to low-income Americans. Use their website to find programs in individual states. Scroll to the
                    bottom of their website to find locate legal aid near you.</p>

                <p><a href="https://www.nationalbar.org/" target="_blank">National Bar Association</a> provides a
                    directory of state and local bar associations to help find legal representation.</p>

                <p><a href="http://www.ndrn.org" target="_blank">National Disability Rights Network</a>&nbsp;protects
                    the civil rights of individuals with disabilities, particularly in hospitals and state prison
                    systems. Click on the map on the right-hand side of their website to locate the agency near
                    you.&nbsp;</p>

                <h2>Community Support Services</h2>

                <p><a href="http://www.iccd.org/" target="_blank">Clubhouse International</a> provides a directory of
                    clubhouses. Clubhouses provide opportunities for education, employment and social activities. Click
                    the 'International Directory' tab on their website to find contact information for local clubhouses.
                </p>

                <p><a href="http://www.homelessshelterdirectory.org"
                        target="_blank">www.homelessshelterdirectory.org</a> provides a national directory of homeless
                    shelters, assistance programs, soup kitchens and more.</p>

                <p><a href="http://askjan.org/" target="_blank">Job Accommodation Network</a> is an organization that
                    provides resources and guidance on workplace accommodations and disability employment issues. Their
                    website includes a directory of state vocational rehabilitation offices. Phone: 800-526-7234</p>

                <p><a href="http://www.211.org/" target="_blank">2-1-1</a> Dial 2-1-1 from a local phone or use their
                    website to search for organizations that offer local support resources and services.</p>


            </article>

        </div>
    </div>
    <div class="col-2"></div>


</div>