<div class="row m-1 text-center">
    <p>
        <h4>Here are your (re)sults!</h4>
    </p>
    <div class="col 4">
        <div>
            <p>
                <h4>Results One Div</h4>
            </p>
        </div>
    </div>
    <div class="col 4">
        <div>
            <p>
                <h4>Results Two Div</h4>
            </p>
        </div>
    </div>
    <div class="col 4">
        <div>
            <p>
                <h4>Results Three Div</h4>
            </p>
        </div>
    </div>
    <a href="/">← Back To Home</a>

</div>
