<div class="text-center text-light">
    <p>
        <h4>Please consider the following resources to (re)set!</h4>
    </p>
</div>

<button class="btn" id="results-display" data-desired-push="entertained">Button!</button>
<div class="row m-1 text-center text-light">

    <div class="col 4">
        <div>
            <p>
                <h4>Spotify Playlist:</h4>
            </p>
        </div>
        <div id="results-one-div">

<br> <br>
<iframe src="{{combine}}" width="300" height="450" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>


        </div>
    </div>
    <div class="col 4">
        <div>
            <p>
                <h4>OMDB Movie:</h4>
            </p>
        </div>
        <div id="results-two-div">

            <p id="movieTitle"></p>
            <p id="movieGenre"></p>
            <img id="moviePoster" src=""></img>
            
        </div>
    </div>
    
</div>
<div class="text-center mt-5">
    <a href="/">
        <h3>(Re)turn Home</h3>
    </a>
</div>

<script src="/js/results.js"></script>
<script type="text/javascript">
    
</script>