<div class="row m-1 text-center text-light">
    <p>
        <h4>Here are your (re)sults!</h4>
    </p>
    <div class="col 4">
        <div>
            <p>
                <h4>Results One Div</h4>
            </p>
        </div>
        <div class="results-one-div">(content generates here)</div>
    </div>
    <div class="col 4">
        <div>
            <p>
                <h4>Results Two Div</h4>
            </p>
        </div>
        <div class="results-two-div">(content generates here)</div>
    </div>
    <div class="col 4">
        <div>
            <p>
                <h4>Results Three Div</h4>
            </p>
        </div>
        <div class="results-three-div">(content generates here)</div>
    </div>
    <a href="/">â† Back To Home</a>

</div>
